.Record {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 1080px;
    margin-bottom: 350px;
    border-top: #333333 1px solid;
    border-bottom: #333333 1px solid;
}

.Record > .Title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 115px;
    margin-top: 110px;
}

.Record > .FormRecord {
    position: relative;
    display: flex;
    justify-content: center;

    width: 846px;
    height: 596px;
}

.Record > .FormRecord > .Background {
    position: absolute;

    width: 700px;
    height: 580px;
    background-color: #952D31;
    border: #FFFFFF 10px solid;
    z-index: 2;

    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
}

.Record > .FormRecord > .BackgroundSquare {
    position: absolute;
    top: 109px;
    left: 0px;

    width: 724px;
    height: 537px;
    background-color: #E7EAEF;
    z-index: 1;
}

.Record > .FormRecord > .Background > .ButtonSend {
    background-color: #FFFFFF;
    border: #952D31 8px solid;

    position: absolute;
    top: 240px;
    right: -65px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 120px;
    height: 90px;

    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
}

.Record > .FormRecord > .Background > .InfoBlock {
    position: relative;
}

.Record > .FormRecord > .Background > .InfoBlock > .Description {
    position: absolute;

    width: 520px;
    height: 100px;
    font-size: 45px;
    text-align: justify;
    color: #FFFFFF;

    top: 50px;
    left: 70px;

    margin-bottom: 40px;
    font-family: "Ristretto Pro";
    font-weight: 400;
}

.Record > .FormRecord > .Background > .InfoBlock > .Info {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 500px;
    height: 265px;

    top: 190px;
    left: 70px;
}

.Record > .FormRecord > .Background > .InfoBlock > .Info > input, select {
    margin-bottom: 30px;

    height: 135px;

    background-color: #952D31;

    border: none;
    outline: #952D31 1px solid;
    border-bottom: #FFFFFF 2px solid;

    font-size: 45px;
    color: #FFFFFF;
    font-family: "Ristretto Pro";
    font-weight: 400;
    text-transform: uppercase;
}
.Record > .FormRecord > .Background > .InfoBlock > .Info > input::placeholder {
    color: #ffffffb4;
    text-transform: uppercase;
}
.Record > .FormRecord > .Background > .InfoBlock > .Info > input:focus {
    transition-duration: 0.5s;
}

.Record > .FormRecord > .Background > .InfoBlock > .Info > select {
    color: #ffffffb4;
}