.PopupBackground {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 900;
}

.PopupMoreDetails {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 900px;
    height: 400px;

    background-color: #FFFFFF;
    z-index: 901;
}

.PopupMoreDetails > .Info {
    display: flex;
    justify-content: space-between;

    width: 775px;
    height: 300px;
}

.PopupMoreDetails > .Info > .Photo {
    align-self: center;
    width: 258px;
    height: 258px;
}


.PopupMoreDetails > .Info > .Content {
    width: 470px;
    display: flex;
    flex-direction: column;
}

.PopupMoreDetails > .Info > .Content > .Title {
    display: flex;
    justify-content: space-between;
    border-bottom: #952D31 2px solid;
    margin-bottom: 25px;
}

.PopupMoreDetails > .Info > .Content > .Title > .Name {
    height: 50px;
    text-transform: uppercase;
    font-family: "Ristretto Pro", "sans-serif";
    font-weight: 600;
    font-size: 45px;
    color: #952D31;
}

.PopupMoreDetails > .Info > .Content > .Title > .Date {
    height: 35px;
    text-transform: uppercase;
    align-self: flex-end;
    line-height: 100%;
    font-family: "Ristretto Pro", "sans-serif";
    font-weight: 400;
    font-size: 30px;
    color: #952D31;
}

.PopupMoreDetails > .Info > .Content > .Description {
    font-family: "Ristretto Pro", "sans-serif";
    font-weight: 500;
    font-size: 40px;
    text-align: justify;
    overflow-y: scroll;
    padding-right: 30px;
}

/* SCROLLBAR STYLE */
.PopupMoreDetails > .Info > .Content > .Description::-webkit-scrollbar {
    width: 6px;
}
/* Handle */
.PopupMoreDetails > .Info > .Content > .Description::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #952D31;
}
