.HorizontalRule > hr {
    height: 1px;
    background-color: #952D31;
    border: 1px solid #952D31;
    /* outline: 1px solid #952D31; */
    border-radius: 10px;
    width: 926px;

    margin: 0;
}