/*ABOUT START*/

.About {
    position: relative;
    height: 1080px;

    display: flex;
    flex-direction: column;

    margin-bottom: 350px;
}

.About > .Title {
    position: absolute;
    top: 162px;
    z-index: 3;

    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.About > .InfoBlock {
    position: absolute;
    top: 301px;
    right: 91px;
    z-index: 3;

    align-self: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.About > .InfoBlock > .Info {
    font-family: "Ristretto Pro";
    font-weight: 500;
    color: #FFFFFF;
    font-size: 45px;
    width: 700px;
    margin-left: 90px;
}