.Background {
    position: relative;

    display: flex;
    justify-content: flex-end;
    /*align-items: center;*/

    height: max-content;
}

.Background > .BgSquareOne {
    position: absolute;
    z-index: 1;
    top: 214px;
    left: 80px;

    width: 300px;
    height: 300px;
    background-color: #E7EAEF;
}

.Background > .BgSquareTwo {
    position: absolute;
    z-index: 1;
    top: 453px;
    left: 355px;

    width: 520px;
    height: 520px;
    background-color: #E7EAEF;
}

.Background > .BgSquareMain {
    position: absolute;
    z-index: 2;
    top: 65px;
    bottom: 65px;
    right: 0;

    width: 1100px;
    height: 950px;
    background-color: #952D31;
}
