.Background {
    position: relative;
}

.Background > .BgSquareOne {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #E7EAEF;
    z-index: 1;
    margin-top: 214px;
    margin-left: 152px;
}

.Background > .BgSquareTwo {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: #E7EAEF;
    z-index: 1;
    margin-top: 453px;
    margin-left: 355px;
}

.Background > .BgSquareMain {
    position: absolute;
    width: 65%;
    height: 950px;
    background-color: #952D31;
    right: 0px;
    z-index: 2;
    margin-top: 65px;
    margin-left: 500px;
    margin-bottom: 65px;
}
