.Footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 310px;
    background-color: #952D31;
}

.Footer > .InfoBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 406px;
}

.Footer > .InfoBlock > .Info {
    width: 360px;
    height: 136px;
    font-size: 40px;
    font-family: "Ristretto Pro";
    font-weight: 400;
    color: #FFFFFF;
}

.Footer > .InfoBlock > .Copyright {
    width: 470px;
    height: 50px;
    margin-top: 35px;
    font-size: 40px;
    font-family: "Ristretto Pro";
    font-weight: 400;
    color: #FFFFFF;
}

.Footer > .Logo {
    position: relative;
    margin-bottom: -150px;
    width: max-content;
    height: max-content;
}

.Footer > .Logo .logo {
    width: 86px;
    height: 86px;
}