.FeedbackCard {
    width: 430px;
    height: 570px;

    border: #952D31 2px solid;
    border-radius: 8px;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FeedbackCard > .FeedbackCardTitle {
    font-family: "Ristretto Pro";
    font-weight: 600;
    font-size: 40px;
    color: #952D31;

    position: absolute;
    top: 32px;

    text-transform: uppercase;
}

.FeedbackCard > .FeedbackCardImage {
    position: absolute;
    top: 102px;
    width: 187px;
    height: 187px;
}

.FeedbackCard > .FeedbackCardContent {
    font-family: "Ristretto Pro";
    font-weight: 400;
    line-height: 35px;
    font-size: 40px;
    text-align: center;
    color: #952D31;

    margin-left: 22px;
    margin-right: 22px;
    height: 120px;

    position: absolute;
    top: 317px;
}

.FeedbackCard > .FeedbackCardButtonMore {
    width: 184px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: #952D31 2px solid;
    border-radius: 6px;

    font-family: "Ristretto Pro";
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    color: #A3494D;

    position: absolute;
    top: 445px;
}
.FeedbackCard > .FeedbackCardButtonMore:hover {
    cursor: pointer;
}

.FeedbackCard > .FeedbackCardDate {
    font-family: "Ristretto Pro";
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    color: #952D31;

    position: absolute;
    top: 515px;
    right: 30px;
}