.ButtonAppointment {
    width: 404px;
    height: 88px;
    border: 2.5px solid #952D31;
    border-radius: 5px;
}

.ButtonAppointment > div {
    font-family: "Ristretto Pro";
    font-weight: 500;
    font-size: 40px;
    color: #952D31;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}